/TP_Microcontroleurs/TP1a_helloworld.X/build/
/TP_Microcontroleurs/TP1a_helloworld.X/dist/
/TP_Microcontroleurs/TP1c_timer2.X/build/
/TP_Microcontroleurs/TP1c_timer2.X/dist/
/TP_Microcontroleurs/TP1d_interrupt.X/build/
/TP_Microcontroleurs/TP1d_interrupt.X/dist/
/TP_Microcontroleurs/TP1e_bonus1.X/dist/
/TP_Microcontroleurs/TP1e_bonus1.X/build/
/TP_Microcontroleurs/TP1e-bonus2.X/dist/
/TP_Microcontroleurs/TP1e-bonus2.X/build/
/TP_Microcontroleurs/TP2a_pwm.X/build/
/TP_Microcontroleurs/TP2a_pwm.X/dist/
/TP2b_pot.X/dist/
/TP2b_pot.X/build/
/TP_Microcontroleurs/TP2c_variateur.X/dist/
/TP_Microcontroleurs/TP2c_variateur.X/build/
/TP_Microcontroleurs/TP2d_breathing.X/dist/
/TP_Microcontroleurs/TP2d_breathing.X/build/