/TP_Microcontroleurs/TP1a_helloworld.X/build/
/TP_Microcontroleurs/TP1a_helloworld.X/dist/
/TP_Microcontroleurs/TP1c_timer2.X/build/
/TP_Microcontroleurs/TP1c_timer2.X/dist/
/TP_Microcontroleurs/TP1d_interrupt.X/build/
/TP_Microcontroleurs/TP1d_interrupt.X/dist/